* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 100%;
    background-color: grey;
    margin: 0px auto;
}

#header {
    width: 92%;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 50px;
    min-height: 150px;
    background-color: purple;
}

#navigation {
    min-height: 300px;
    width: 200px;
    background-color: pink;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}

#advertisement {
    min-height: 120px;
    width: 660px;
    background-color: green;
}